/*Settings*/
:root {
    --mainColor: #585858;

    --mainTextColor: #000000;
    --textAccentColor: #ffffff;
    --headingTextColor: #ffa600;
    --headingAccentColor: #e09200;

    --linkColor: #0000ff;
    --linkHoverColor: #3333ff;
}



/*Safe Area, and Font*/
html,
body,
head {
    margin: 1%;
    padding: 0px;
}



/*Background and Fade in*/
html {
    background-color: "white";

    animation-name: backgroundFadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

body {
    opacity: 0%;

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



/*Text*/
h1 {
    font-size: 60px;
    color: var(--headingTextColor);
    text-shadow: 3px 3px 5px var(--headingAccentColor);
    text-align: center;

    margin-top: 32px;

    animation-name: hover;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

p,
label,
a {
    font-size: 22px;
    color: var(--textAccentColor);
    text-align: center;
}

label {
    font-size: 18px;
}



/*Links*/
a {
    color: var(--linkColor);
    text-decoration: underline;
}

a:hover,
a:active {
    color: var(--linkHoverColor);
}



/*Centering*/
textarea,
input,
select,
button,
canvas {
    margin: auto;
    text-align: center;
}

/*Animation*/
@keyframes fadeIn {
    0% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }
}

@keyframes backgroundFadeIn {
    0% {
        background-color: "white"
    }

    100% {
        background-color: var(--mainColor)
    }
}